################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ChatApp/.vs/ChatApp/v16
/ChatApp/.vs/ChatApp
/ChatApp/ChatApp/bin/Debug/netcoreapp3.1
/ChatApp/ChatApp/obj
